--- 
layout: default_blog
--- 

{{ content }}

<div class="fh5co-post">
    {% for post in site.posts %}
    
        <div class="fh5co-entry padding">
            <!-- <a href="{{ page.url }}" class="arrow"><i class="icon-arrow-right"></i></a> -->
            <div>
                <span class="fh5co-post-date">{{ post.date | date: "%b %d, %Y" }} by {{ post.author }}</span>        
                <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <p>{{ post.content | truncatewords: 50 }}</p>
            </div>
        </div>
    {% endfor %}
                    
